@using BulkyBook.Presentation
@{
    var notificationId = Guid.NewGuid();
}

@if (TempData.TryGetValue(TempDataKeys.SuccessMessage, out var successMessage))
{
    <div id="@notificationId">
        <div class="position-absolute top-0 end-0">
            <div class="toast m-2 bg-success successMessage" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body text-white">
                    <i class="bi bi-bell"></i> @successMessage
                </div>
            </div>
        </div>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
                setTimeout(() => {
                    const notificationDiv = document.getElementById('@notificationId');
                    const toastEl = notificationDiv.querySelector('.successMessage');
                    if (!toastEl) return;

                    const toast = new bootstrap.Toast(toastEl, {});
                    toast.show();
                },
                    500);
            });
        </script>
    </div>
}