@using BulkyBook.Presentation.ViewModels
@model CoverTypeViewModel
@{
    ViewData["Title"] = "Delete Cover Type";
}


<h1 class="mt-2 mb-4 text-danger">
    Delete Cover Type
</h1>

<form method="POST" asp-controller="CoverTypes" asp-action="Delete" asp-route-id="@Model.Id">
    <input type="hidden" asp-for="Id" />

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="Name">Cover Type Name</label>
        <div class="col-sm-9">
            <input type="text" readonly="readonly" class="form-control-plaintext" asp-for="Name">
        </div>
    </div>
    <div class="mb-3 d-flex flex-row">
        <button type="submit" class="me-1 btn btn-danger">Delete</button>
        <a asp-controller="CoverTypes" asp-action="Index" class="ms-1 btn btn-outline-secondary">Cancel</a>
    </div>
</form>